body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.main-div{
    background-color: #423D9E;
    height: 100%;

}
#main-btn-reg{
    position: relative;
    left: 40%;
    top: 50%;
    padding: 20px 25px;
    border: none;
    border-radius: 7px;
    background-color: #1DBB9C;
    font-size:20px;
    color: #FFFFFF;
    cursor: pointer;
}
#main-btn-log{
    position: relative;
    left: 45%;
    top: 50%;
    padding: 20px 25px;
    border: none;
    background-color: #00A9AE;
    border-radius: 7px;
    font-size:20px;
    color: #FFFFFF;
    cursor: pointer;
}